.feed {
  margin: 0 30px;
  /* width: 100%;
  flex: 0.6; */
}
.feed-inputcontainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  margin-left: 30px;
  margin-right: 30px;
}
.feed-input {
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: lightgrey;
  padding-left: 15px;
  align-items: center;
}

.feed-input > input {
  display: flex;
  width: 100%;
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.feed-input > button {
  padding: 10px 14px;
  border-radius: 15px;
}
.form-feed {
  color: black;
}
