.center-div {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}
.page-header {
  text-align: center;
  margin-bottom: 4rem;
}
.feed-container {
  display: flex;
  flex-direction: column;
}
.home-container {
  width: 100%;
}
