.post {
  background-color: var(--primary-color);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 65px;
  margin-right: 65px;
  width: 85%;
}
.post-header {
  display: flex;
  margin-bottom: 10px;
}
.post-info {
  margin-left: 10px;
}
.post-info > p {
  font-size: 12px;
  color: gray;
}
.post-body {
  overflow-wrap: anywhere;
}
.post-info > h2 {
  font-size: 15px;
}
.post-span-name {
  margin-top: 5px;
}
.post-span-icon {
  color: #70b5f9;
}
.bookmark {
  margin-left: 29.5rem;
}
.post-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 8px;
  margin-left: 20px;
}
.post-delete-icon {
  margin-left: 32.5rem;
}
.like-container {
  display: flex;
  align-items: center;
  gap: 2px;
}
