.feed {
  margin: 0 30px;
  /* width: 100%;
  flex: 0.6; */
}
.feed-inputcontainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  margin-left: 36px;
  margin-right: 80px;
}
.comment-input {
  /* border: 1px solid black; */
  border-radius: 30px;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 10px;
  color: lightgrey;
  padding-left: 15px;
  /* align-items: center; */
}

.feed-input > input {
  display: flex;
  width: 100%;
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.feed-input > button {
  padding: 10px 14px;
  border-radius: 15px;
}
.form-feed {
  color: black;
}
.user-info {
  display: flex;
}
.user-info > span {
  margin-left: auto;
}
.container {
  border: 1px solid black;
  width: 81%;
  margin-left: 4.5rem;
  border-radius: 10px;
  margin-top: 0;
}
.comment-heading {
  color: var(--component-black-color);
}
.comment-text {
  color: var(--component-black-color);
  font-weight: 300;
}
.post-delete-icon {
  margin-left: 32.5rem;
  color: black;
}
