* {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}
x .canva-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--component-white-color);
}
.canva-navbar .logo-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo-name {
  margin-left: 4rem;
}
.canva-logo-img {
  background-image: url("../../asset/CLogo.svg");
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  height: 4rem;
  background-size: 4rem;
  background-color: transparent;
  overflow: hidden;
  margin: 0.8rem 0 0 1rem;
}
.navbar-input {
  display: flex;
  width: 40%;
  border: 1px solid var(--component-black-color);
  align-items: center;
  margin-left: 20rem;
}
.navbar-input > input {
  flex: 1;
  border: none;
  margin: 0;
}
.navbar-input-icon {
  width: 3.125rem !important;
}
.navbar-links {
  display: flex;
  margin-left: auto;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.nav-action-buttons {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  text-decoration: none;
}

.logout-btn {
  margin-right: 2rem;
}
