.sidebar-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 0.2;
  border-right: 1px solid black;
}
.sidebar-links {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
.sidebar-links-name {
  margin-left: 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--component-black-color);
}
.sidebar-icon {
  color: #606060;
  font-size: 700;
}
.sidebar-links:hover {
  background-color: #e8f5fe;
  cursor: pointer;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebar-links-name:hover {
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebar-links:active {
  color: var(--twitter-color);
}
